*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(https://img.freepik.com/premium-photo/grass-field-background-green-grass-green-background-texture-lawn_373520-1088.jpg);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.container{
    max-width:1300px;
    width: 100%;
    padding:0 15px;
    margin: 0 auto;

}
.card{
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    padding: 15px;
    width: 100%;
    margin-bottom: 30px;
    gap: 5px;
    backdrop-filter: blur(10px);
    box-shadow: 1px 1px 10px 5px rgba(red, green, blue, alpha) ;
    button{
        margin-top: auto;
        padding: 8px;
        background-color: darkcyan;
        font-size: 20px;
        font-weight: 600;
    }

}
.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 20px;
}

img{
    filter:drop-shadow(black 1px 1px 10px)
}